#mainBiblia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testamentos{
    
    color: var(--brancoPreto);
    text-align: center;
    font-size: 30px;
    
    width: 100%;
    max-width: 1440px;
    margin-left: 20px;
}

hr{
    background-color: var(--brancoPreto);
    margin: 10px 0px 50px 20px;
    width: 200px;
}

.containerLivrosAC{
    width: 95%;
    margin-bottom: 50px;
    margin-left: 20px;
    max-width: 1440px;
    
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    
}

.containerLivrosDC{
    width: 95%;
    margin-left: 20px;
    max-width: 1440px;
    
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
}

.livro{
    margin: 10px;
    display: flex;
    flex-direction: row;
    background-color: var(--pretoQuaseBranco);
    width: 200px;
    height: 55px;
    border: 1px solid var(--brancoPreto);
    border-radius: 5px;
    box-shadow: 3px 3px 15px 1px var(--sombra);

    text-align: center;
}

.livro:hover{
    cursor: pointer;
    background-color: var(--quaseBranco);
    border: 1px solid var(--pretoBranco);
    
}

.livro:hover .escritaLivros{
    color: var(--pretoBranco);
}

.livro:hover .abLivro{
    border-right: 1px solid var(--pretoBranco);
}

.abLivro{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 60px;
    height: 53px;
    border-right: 1px solid var(--brancoPreto);
}

.nomeLivro{

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 120px;
    height: 54px;

}

.escritaLivros{
    font-size: 1.3rem;
    font-family: 'padrao';
    color: var(--brancoPreto);
}